/* main section:not(#inicio) */
/* 	height: calc(100vh - 76px); */
/* 	scroll-margin-top: 76px; */
/* 	padding: 32px 256px; */

main section:not(#inicio)
{
	min-height: calc(100vh);
	padding: 48px 0;

	h2
	{
		text-align: center;
		margin-bottom: 32px;
	}

	> p
	{
		text-align: center;
	}
}

#inicio
{
	height: 100vh;
	display: grid;
	grid-template-columns: min-content auto min-content;
	align-items: center;
	padding: 32px;
	position: relative;

	video
	{
		height: 100%;
		width: 100%;
		object-fit: cover;
		position: absolute;
		left: 0px;
		top: 0px;
		filter: brightness(60%);
		z-index: -1;
	}

	.botao-navegacao
	{
		height: 48px;
		width: 48px;
		border-radius: 100%;
		border: unset;
		background-color: green;
	}

	ul
	{
		display: flex;
		scroll-snap-type: x mandatory;
		overflow-x: hidden;

		li
		{
			scroll-snap-align: center;
			flex: 0 0 100%;
			padding: 0px 32px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1em;

			h1, h2
			{
				margin: unset;
				font-size: 2.5em;
			}

			p
			{
				font-size: 1.1em;
			}

			img
			{
				height: auto;
				width: 256px;
				transform: scaleX(-1);
			}
		}
	}
}

#planos
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/wallpaper/planos.jxl");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	.lista-planos > li
	{
		width: 384px;
		padding: 16px;
		text-align: center;
		margin: 24px auto;
		border-radius: 25px;
		border: 2px solid green;

		h3
		{
			margin-top: unset;
			margin-bottom: 0.5em;
		}

		.preco
		{
			background: green;
			font-size: 1.3em;
			border-radius: 25px;
			padding: 16px;
			width: max-content;
			margin: 12px auto;
		}

		h4
		{
			margin: unset;
		}

		ul
		{
			margin-top: 1em;
			margin-left: 16px;

			li
			{
				list-style-type: disc;
				text-align: left;
			}
		}

		a
		{
			display: block;
			background: red;
			margin: 12px auto;
			margin-bottom: 0;
			width: max-content;
		}
	}

	/* hacks */
	#planos-empresariais
	{
		scroll-margin-top: calc(1em + 76px);
	}
}

#servicos
{
	
}

#empresa
{
	
}

#atendimento
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/wallpaper/atendimento.jxl");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	ul li
	{
		width: 448px;
		height: 92px;
		border: 1px solid green;
		border-radius: 25px;
		display: flex;
		align-items: center;
		padding: 0 16px;
		gap: 16px;
		margin: 24px auto;

		img
		{
			height: 60px;
			width: 60px;
		}

		div
		{
			flex: 1;
		}

		a
		{
			background: green;
			text-align: center;
			width: max-content;
		}
	}

	form
	{
		width: 512px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 12px 24px;
		margin: 0 auto;
		/* border: 1px solid green; */

		input, textarea, select
		{
			display: block;
			width: 100%;
			background: #f2f2f2;
			border: unset;
			min-height: 24px;
			color: #000000;
		}

		textarea
		{
			resize: vertical;
			
		}

		#assunto, #mensagem
		{
			grid-column: span 2;
		}

		button
		{
			grid-column: span 2;
			width: max-content;
			margin: auto;
		}
	}
}

#perguntas-frequentes
{
	
}
