:root
{
	--borda: 1px solid green;
	--radius: 25px;
	--cor-borda: green;
	--cor-botao: green;
}

*
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body
{
	margin: unset;
	background-color: #000000;

	a, p, h1, h2, h3, li, button, label
	{
		color: #f1f1f1;
	}

	p
	{
		margin: unset;
	}

	button
	{
		cursor: pointer;
		background: unset;
		border: unset;
	}

	ul
	{
		margin: unset;
		padding: unset;
		list-style-type: none;
	}

	img
	{
		vertical-align: middle;
	}

	a
	{
		text-decoration-color: #f1f1f100;
		transition-property: text-decoration-color;
		transition-duration: 0.3s;

		&:hover
		{
			text-decoration-color: #f1f1f1ff;
		}
	}	
}

.hashtag
{
	color: green;
	font-weight: bold;
	font-size: 1.1em;
}

.botao
{
	border-radius: var(--radius);
	border:	var(--borda);
	padding: 12px;

	&:active
	{
		background: var(--cor-botao);
	}
}

nav
{
	background-color: #000000dd;
	height: 76px;
	width: 100vw;
	position: fixed;
	bottom: 0px;
	user-select: none;
	z-index: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
	a
	{
		color: white;
		display: inline-block;

		img
		{
			height: 32px;
			width: 32px;
			display: block;
			margin: 0 auto;
		}
	}
}

footer
{
	padding: 16px;
	padding-top: 32px;
	padding-bottom: 120px;
	background-color: #2A7B9B;
	background: linear-gradient(
		329deg,
		#397f55 12%,
		#1b4e63 89%
	);

	section
	{
		margin-bottom: 24px;

		&:first-of-type p
		{
			margin: 1em 0;
		}

		h2
		{
			margin-top: unset;
		}

		img
		{
			height: 48px;
			width: 48px;
		}
	}

	#creditos a
	{
		font-weight: bold;
	}
}
