/* main section:not(#inicio) */
/* 	height: calc(100vh - 76px); */
/* 	scroll-margin-top: 76px; */
/* 	padding: 32px 256px; */

main section:not(#inicio)
{
	min-height: calc(100vh);
	padding: 48px 0;

	h2
	{
		text-align: center;
		margin-top: 0;
		margin-bottom: 32px;
	}

	> p
	{
		text-align: center;
	}
}

#inicio
{
	height: 100vh;
	display: grid;
	grid-template-columns: min-content auto min-content;
	align-items: center;
	padding: 32px;
	position: relative;

	video
	{
		height: 100%;
		width: 100%;
		object-fit: cover;
		position: absolute;
		left: 0px;
		top: 0px;
		filter: brightness(60%);
		z-index: -1;
	}

	button
	{
		height: 48px;
		width: 48px;
		border-radius: 100%;
		border: unset;
		background-color: green;
	}

	ul
	{
		display: flex;
		scroll-snap-type: x mandatory;
		overflow-x: hidden;

		li
		{
			scroll-snap-align: center;
			flex: 0 0 100%;
			padding: 0px 32px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1em;

			h1, h2
			{
				margin: unset;
				font-size: 2.5em;
			}

			p
			{
				font-size: 1.1em;
			}

			a
			{
				background: green;
			}
			
			img
			{
				height: auto;
				width: 256px;
				transform: scaleX(-1);
			}
		}
	}
}

#planos
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/bg2.jxl");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	> ul > li
	{
		width: 384px;
		padding: 16px;
		text-align: center;
		margin: 24px auto;
		border-radius: 25px;
		border: 2px solid green;

		h3
		{
			margin-top: unset;
			margin-bottom: 0.5em;
		}

		.preco
		{
			background: green;
			font-size: 1.3em;
			border-radius: 25px;
			padding: 16px;
			width: max-content;
			margin: 12px auto;
		}

		h4
		{
			margin: unset;
		}

		ul
		{
			margin-left: 16px;

			li
			{
				list-style-type: disc;
				text-align: left;
				padding: 0;
			}
		}

		a
		{
			display: block;
			background: red;
			margin: 12px auto;
			margin-bottom: 0;
			width: max-content;
		}
	}
}

#servicos
{
	
}

#empresa
{
	
}

#atendimento
{
	
}

#perguntas-frequentes
{
	
}

#area-cliente
{
	
}
